@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

.background-pattern {
  position: fixed;
  inset: 0;
  background-image: url("/taiki/BackGround.png");
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.08;
  z-index: -1;
  filter: grayscale(100%);
  animation: slideBackground 15s linear infinite;
}

@keyframes slideBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}


a:hover {
  color: blue;
  text-decoration: underline;
}
